# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch  
  workflow_call:
    inputs:
      name:
        required: true
        type: string
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    name: Test echo
    # The type of runner that the job will run on
    
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash  
    steps:
      - name: Print variable to console
        run: echo ${{ inputs.name }}
    
